body { 
    font-family: Arial; 
    margin: 20px; 
    color:white;
    background-color: black;
}
#chat { 
    border: 1px solid #ccc; 
    padding: 10px; 
    height: 300px; 
    overflow-y: scroll; 
}
input, button { 
    margin: 5px; }